/**
 * @file
 * Menu styling.
 */

/* Main Navigation */

.menu-5101 {
  z-index: 99;
  width: 100%;
}

.menu-5101 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
}

.menu-5101:not(.sticky) ul {
  margin-top: 20%;
}

.menu-5101.sticky ul {
  z-index: 4;
  background-color: rgba(0, 0, 0, 1);
}

.menu-5101 ul li {
  position: relative;
  display: block;
  margin: 10px;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  text-align: left;
  border-bottom: 4px solid transparent;
}

.menu-5101 ul li:hover {
  opacity: 1;
}

.menu-5101 ul li a:hover,
.menu-5101 ul li a:focus,
.menu-5101 ul li a:active {
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
}

.menu-5101 ul li a::before,
.menu-5101 ul li a::after {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 8px;
  height: 2em;
  content: "";
  /* box-shadow: 0 0 0 30px rgba(255,255,255,0.2); */
  -webkit-transition:
    opacity 0.35s,
    -webkit-transform 0.35s;
  transition:
    opacity 0.35s,
    transform 0.35s;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1);
  opacity: 0;
}

.menu-5101 ul li a::before {
  left: 0;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  border-left: solid 3px #fff;
}

.menu-5101 ul li a::after {
  right: 0;
  content: "";
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  border-bottom: solid 3px #fff;
}

.menu-5101 ul li:hover a::before,
.menu-5101 ul li:hover a::after,
.menu-5101 ul li:focus a::before,
.menu-5101 ul li:focus a::after,
.menu-5101 ul li:active a::before,
.menu-5101 ul li:active a::after,
.menu-5101 ul a:focus::before,
.menu-5101 ul a:active::before,
.menu-5101 ul a:focus::after,
.menu-5101 ul a:active::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.menu-5101 ul li a {
  display: block;
  padding: 0 0.5em;
  text-decoration: none;
  color: #fff;
  border: none;
  font-family: "Roboto Slab", serif;
}

.menu-5101 ul li:hover a {
  background-color: transparent;
}

/* Sticky Navigation */

.menu-5101.sticky {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1225px) {
  .menu-5101 ul {
    font-size: 1.25em;
  }

  .menu-5101 ul > li {
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (min-width: 545px) {
  .menu-5101 ul li a {
    padding: 0.5em;
  }

  .menu-5101 ul li a::before {
    left: 0;
    border-top: solid 5px #fff;
    border-bottom: solid 5px #fff;
    border-left: solid 5px #fff;
  }

  .menu-5101 ul li a::after {
    right: 0;
    content: "";
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    border-bottom: solid 5px #fff;
  }
}

/* Header image */

.header-image-5101 {
  position: relative;
  align-items: flex-end;
  height: 100vh;
}

.header-image-5101 > .content {
  z-index: 5;
}

.header-image-5101::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.9;
  background: linear-gradient(0.25turn, #000, transparent);
}

.header-image-5101::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-image: url("/sites/hfcmain/files/2018-5101-logo-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
}

/* Parallax */

.parallax-wrap {
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.parallax-wrap > .content {
  width: 100%;
}

.parallax-wrap-250 {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 250px;
  margin: 20px 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.parallax-wrap.parallax-wrap-250 > .content {
  z-index: 3;
  width: auto;
  max-width: 100%;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax-wrap-250::after {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.9;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

.parallax-wrap-250::before {
  height: 250px;
}

.parallax-wrap-250 h2 {
  position: relative;
  display: inline-block;
  flex: 0 1 auto;
  margin: 0 0 10px 0;
  padding: 25px 35px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 2em;
}

.parallax-title-5101 {
  flex: 1 0 100%;
  height: 75px;
  margin: 25px auto auto auto;
  margin-bottom: 50px;
  padding-right: 25px;
  text-align: right;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10%;
  background-size: cover;
}

/* Restauraunt + Special Event Menus */

.food-menu-5101.para-grid.separated > .content > .entity > div {
  border-left: 4px double #ccc;
}

.food-menu-5101.para-grid.separated > .content > .entity:last-child > div {
  border-right: 4px double #ccc;
}

.food-menu-5101 h3 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.food-menu-5101 h4 {
  color: #595959;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 1em;
}

.event-5101-brackets {
  position: relative;
  margin-bottom: 1em;
  padding: 2.2em;
  border: 1px solid #262729;
}

.event-5101-brackets::before,
.event-5101-brackets::after {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 8px;
  height: 80%;
  margin: 0.5em;
  content: "";
  text-align: center;
}

.event-5101-brackets::before {
  left: 0;
  border-top: solid 5px #262729;
  border-bottom: solid 5px #262729;
  border-left: solid 5px #262729;
}

.event-5101-brackets::after {
  right: 0;
  content: "";
  border-top: solid 5px #262729;
  border-right: solid 5px #262729;
  border-bottom: solid 5px #262729;
}

.event-5101-list > .content {
  border-bottom: 2px solid #ccc;
}

.event-5101-list h3 {
  margin: 0;
}

.event-5101-list ul {
  list-style-type: square;
}

/* Social Media Icons */

.social-5101-wrap {
  display: flex;
  justify-content: center;
}

.social-5101-fb {
  background-image: url("/sites/all/themes/futuredriven18/images/fbblackicon.svg");
}

.social-5101-ig {
  background-image: url("/sites/all/themes/futuredriven18/images/instablackicon.svg");
}

.social-5101-fb,
.social-5101-ig {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 0;
  margin: 25px;
  padding: 50px 0 0;
  border-bottom: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-5101-fb:hover,
.social-5101-fb:focus {
  background-image: url("/sites/all/themes/futuredriven18/images/fbcoloricon.svg");
}

.social-5101-ig:hover,
.social-5101-ig:focus {
  background-image: url("/sites/all/themes/futuredriven18/images/instaglyphicon.svg");
}

/* Nitpicky font/alignment things */

.chef-sig-5101 {
  text-align: right;
}

.food-menu-type-5101 {
  text-align: center;
  color: #fff;
}

.center-5101 {
  text-align: left;
}

/* Tables */

table.beer-wine-5101 {
  border-collapse: collapse;
}

table.beer-wine-5101 td,
table.beer-wine-5101 th {
  padding: 5px 5px;
  border-bottom: 1px solid #ccc !important;
}

table.beer-wine-5101 tbody td {
  font-size: 16px;
}

table.beer-wine-5101 thead th {
  color: #fff;
  background-color: #262729;
  font-size: 16px;
  font-weight: bold;
}

table.beer-wine-5101 tr:nth-child(even),
table.beer-wine-5101 tr:nth-child(odd) {
  background-color: transparent;
}

table.beer-wine-5101 tbody:nth-child(even) {
  background-color: #ccc;
}

/* Media queries */
@media only screen and (min-width: 1225px) {
  .header-image-5101 {
    align-items: center;
  }
}
@media only screen and (min-width: 855px) {
  .parallax-header-image > .content {
    width: 100%;
  }

  .parallax-wrap > .content {
    padding: 0;
  }
}
@media only screen and (min-width: 705px) {
  .parallax-wrap-250 h2::before,
  .parallax-wrap-250 h2::after {
    position: absolute;
    top: 10%;
    display: inline-block;
    width: 8px;
    height: 40%;
    /* text-align: center; */
    /* margin: auto; */
    margin: 15px;
    content: "";
  }
}
@media only screen and (min-width: 600px) {
  .center-5101 .hfc-button.big {
    margin: 0.4em 0;
  }

  .center-5101 {
    text-align: center;
  }

  .header-image-5101::after {
    background-size: 500px;
  }
}
