/**
 * @file
 * Header Slider styling.
 */

/** Styling for use with buttonslider.js **/

.button-slides-master-header-container {
  position: relative;
}

.button-slides-master-header-container .header-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header-image-content {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.button-slides-master-header-container .slide {
  position: absolute;
  /* transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease; */
  z-index: -1;
  width: 100%;
  opacity: 0;
}

.button-slides-master-header-container .slide.active {
  z-index: 1;
  opacity: 1;
}

.button-slides-master-header-container .billboard-caption-athletics {
  display: block;
  flex: 0 1 100%;
  order: 2;
  margin: 35px;
}

#billboard .billboard-caption-athletics {
  width: 400px;
  padding: 0.5em 1em;
  box-shadow: 0 0 15px 0 #262729;
}

.athletics-billboard-links {
  margin: 25px;
}

.button-slides-master-header-container .slide .billboard-caption-athletics {
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px 0 #262729;
}

.button-slides-master-header-container .slide .billboard-caption-athletics h2 {
  margin: 0;
}

/* Navigation buttons */

.button-slide-nav {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
}

.button-slide-nav .slide-nav-item {
  flex: 1 0 30%;
  width: 100%;
  margin: 0.5em;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #262729;
  background: rgba(0, 45, 91, 0.9);
  font-weight: bold;
}

.button-slide-nav .slide-nav-item.active {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(32, 95, 125, 0.9);
}

.button-slide-nav .slide-nav-item:hover,
.button-slide-nav .slide-nav-item:focus {
  color: #262729;
  border: 1px solid #fff;
  background: rgba(223, 222, 222, 0.9);
}
@media only screen and (min-width: 1200px) {
  #billboard .button-slides-master-header-container .billboard-caption-athletics {
    width: 100%;
    max-width: 800px;
  }
}
@media only screen and (min-width: 1000px) {
  .button-slides-master-header-container,
  .header-image-content {
    height: 500px;
  }

  .button-slides-master-header-container .billboard-caption-athletics {
    flex: 0 1 40%;
    order: unset;
    margin: 25px;
  }

  .button-slide-nav {
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  #billboard .billboard-caption-athletics {
    width: 400px;
    padding: 0.5em 1em;
    box-shadow: 0 0 15px 0 #262729;
  }
}
