/**
 * @file
 * Styling for calendar module displays.
 *
 * This file adds to whatever calendar.css from the module
 * already provides.
 */

.calendarfd .calendar-calendar {
  border: 1px solid #ccc;
}

.calendarfd .calendar-calendar th.days {
  padding: 0.5em;
  text-align: right;
  color: #fff;
  background-color: #262729;
}

.calendarfd .calendar-calendar div.day {
  float: right;
  clear: both;
  width: 2em;
  margin: 0 0 10px 0;
  padding: 0.125em 0.25em 0 0.125em;
  text-align: center;
  color: #fff;
  background: #002d5b;
}

.calendarfd .calendar-calendar .month-view .full td .inner div.day,
.calendarfd .calendar-calendar .month-view .full td .inner div.day a {
  color: #262729;
}

.calendarfd .calendar-calendar td.multi-day,
.calendarfd .calendar-calendar tr.multi-day,
.calendarfd .calendar-calendar .single-day,
.calendarfd .calendar-calendar .no-entry,
.calendarfd .calendar-calendar .noentry-multi-day,
.calendarfd .calendar-calendar .month-view .full td.single-day.empty,
.calendarfd .calendar-calendar .month-view .full tr td.today {
  border-bottom: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  background-color: #fff;
}

.calendarfd .date-box {
  border-top: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
}

.calendarfd .calendar-calendar .month-view .full tr.multi-day td,
.calendarfd .calendar-calendar .month-view .full td {
  padding: 0.25em 0.5em;
}

.calendarfd .calendar-calendar .month-view .full td.single-day div.monthview,
.calendarfd .calendar-calendar .week-view .full td.single-day div.weekview,
.calendarfd .calendar-calendar .day-view .full td.single-day div.dayview,
.calendarfd .calendar-calendar .month-view .full td.multi-day div.monthview,
.calendarfd .calendar-calendar .week-view .full td.multi-day div.weekview,
.calendarfd .calendar-calendar .day-view .full td.multi-day div.dayview,
.calendarfd .calendar-calendar .month-view .full .inner .monthview {
  overflow: hidden;
  height: 3.5em;
  margin: 10px 5px;
  padding-top: 0.45em;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
  border-bottom: 1px solid #002d5b;
  background: #dedede;
}

.calendarfd .calendar-calendar .month-view .full td.single-day div.monthview:hover,
.calendarfd .calendar-calendar .week-view .full td.single-day div.weekview:hover,
.calendarfd .calendar-calendar .day-view .full td.single-day div.dayview:hover,
.calendarfd .calendar-calendar .month-view .full td.multi-day div.monthview:hover,
.calendarfd .calendar-calendar .week-view .full td.multi-day div.weekview:hover,
.calendarfd .calendar-calendar .day-view .full td.multi-day div.dayview:hover,
.calendarfd .calendar-calendar .month-view .full .inner .monthview:hover {
  border-bottom: 2px solid #002d5b;
  background: #7fe5ff;
}

.calendarfd .calendar-calendar .month-view .full td.single-day div.monthview:focus,
.calendarfd .calendar-calendar .week-view .full td.single-day div.weekview:focus,
.calendarfd .calendar-calendar .day-view .full td.single-day div.dayview:focus,
.calendarfd .calendar-calendar .month-view .full td.multi-day div.monthview:focus,
.calendarfd .calendar-calendar .week-view .full td.multi-day div.weekview:focus,
.calendarfd .calendar-calendar .day-view .full td.multi-day div.dayview:focus,
.calendarfd .calendar-calendar .month-view .full .inner .monthview:focus {
  border: 2px solid #002d5b;
  background: #7fe5ff;
}

.calendarfd .calendar-calendar .month-view .full td .inner div.calendar.monthview div a,
.calendarfd .calendar-calendar .month-view .full .inner .monthview a {
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
  color: #262729;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}

.calendarfd .calendar-calendar .month-view .full td .inner div.calendar.monthview div a:hover,
.calendarfd .calendar-calendar .month-view .full .inner .monthview a:hover {
  text-decoration: none;
  background: #7fe5ff;
}

.calendarfd .calendar-calendar .month-view .full td .inner div.calendar.monthview div a:focus,
.calendarfd .calendar-calendar .month-view .full .inner .monthview a:focus {
  text-decoration: none;
  background: #7fe5ff;
}

.calendarfd .calendar-calendar .month-view .full tr.date-box,
.calendarfd .calendar-calendar .month-view .full tr.multi-day {
  background: #dedede;
}

.calendarfd .calendar-calendar .month-view .full .date-box .past {
  background: #ccc;
}

.calendarfd .calendar-calendar .month-view .full .date-box .future {
  background: #fff;
}

.calendarfd .calendar-calendar .month-view .full td.date-box.empty {
  background: #b3b3b3;
}

.calendarfd .calendar-calendar .month-view .full tr td.single-day.today,
.calendarfd .calendar-calendar .today div.day {
  color: #fff !important;
  background-color: #fff;
  font-weight: bold;
}

.calendarfd .calendar-calendar .month-view .full td.date-box.today {
  background: #002d5b;
}

.calendarfd .calendar-calendar .month-view .full .inner .monthview .continuation {
  float: left;
  margin-right: 0.5em;
  font-size: 1rem;
}

.calendarfd .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff {
  float: right;
  margin-left: 0.5em;
  font-size: 1rem;
}

.calendarfd .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendarfd .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues {
  margin-right: 0.5em;
}

.calendarfd .calendar-calendar .month-view .full .inner .monthview {
  padding-left: 1em;
  border-radius: 0;
}

.calendarfd .view-item,
.calendarfd .view-item-event_calendar_academic {
  background-color: transparent !important;
}

.calendarfd .calendar-calendar .month-view .full tr td.multi-day.ends-today,
.calendarfd .calendar-calendar .month-view .full tr td.multi-day.starts-today {
  background-color: #fff;
}

.calendarfd .st-head-row.st-head-row-main {
  color: #fff;
  background: #262729;
}

.calendarfd .date-box .st-key,
.calendarfd .multi-day .st-key,
.calendarfd .single-day .st-key {
  color: #fff;
  background: #262729;
}
@media screen and (min-width: 600px) {
  .calendarfd .calendar-calendar .month-view .full tr.multi-day td,
  .calendarfd .calendar-calendar .month-view .full td {
    padding: 0;
  }

  .calendarfd .calendar-calendar .month-view .full td.multi-day .inner .monthview .continuation,
  .calendarfd .calendar-calendar .week-view .full td.multi-day .inner .weekview .continuation,
  .calendarfd .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
  .calendarfd .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
  .calendarfd .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
  .calendarfd .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
    margin: -0.125em 0.5em 0 0.5em;
    color: #002d5b;
    background: transparent;
    font-size: 1.5rem;
  }
}
