/* Slider wrapper */

.content-slider-wrapper {
  display: block;
  overflow: hidden;
}

/* Slider height width */

.content-slider-master-wrapper > .content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  min-height: 100px;
  margin: 1em auto;
}

/* Slider */

.content-slider-master-wrapper .slider-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
}

.content-slider-master-wrapper .slider {
  z-index: 0;
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
  width: 1000px;
  opacity: 1;
  background: #fff;
  -webkit-flex-align: center;
}

.content-slider-master-wrapper .white-overlay .slider {
  background: rgba(255, 255, 255, 0.6);
}

.content-slider-master-wrapper .slider > div:first-child {
  padding: 1.5em 5em;
}

/* content-slider-next and content-slider-previous button */

.content-slider-navigation > button {
  position: absolute;
  z-index: 55;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  color: transparent;
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
  background-image: url("/sites/all/themes/futuredriven18/images/arrow-right-black.svg");
  background-position: right;
  background-size: contain;
  font-size: 0;
  line-height: 50px;
}

.content-slider-navigation > button:hover,
.content-slider-navigation > button:focus {
  border: 2px solid #262729;
}

.content-slider-navigation > .content-slider-next {
  right: 1px;
}

.content-slider-navigation > .content-slider-prev {
  left: 1px;
  transform: rotate(180deg);
}

/* Slider pagination */

nav.content-slider-radio-navigation > button {
  overflow: hidden;
  width: 25px;
  height: 25px;
  margin: 0.5em;
  text-align: left;
  white-space: nowrap;
  text-indent: -9999px;
  color: transparent;
  border: 2px solid #262729;
  background-color: #fff;
}

nav.content-slider-radio-navigation > button:hover,
nav.content-slider-radio-navigation > button:focus {
  border: 4px solid #262729;
  outline: none;
  background: #b5b5b5;
  box-shadow: inset 0 0 0 2px #fff;
}

nav.content-slider-radio-navigation > button.active,
nav.content-slider-radio-navigation > button:active {
  outline: none;
  background-color: #262729;
  box-shadow: inset 0 0 0 2px #fff;
}

nav.content-slider-radio-navigation {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 767px) {
  .content-slider-master-wrapper .slider > div {
    padding: 0 2%;
  }

  .content-slider-master-wrapper .slider .button {
    padding: 0 30px;
  }
}
