/**
 * @file
 * This file contains reusable grid patterns.
 *
 * THIS FILE WAS BACKPORTED FROM KINGFISHER.
 * If you make changes here, please make corresponding changes
 * in the kingfisher theme for Drupal 9+.
 */

.flex-grid > .content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-image: none;
}

.flex-grid > .content > .grid-child {
  position: relative;
  width: 100%;
  margin: 0.5em;
  padding: 0;
}

.flex-grid > .content > .grid-child > div {
  width: 90%;
  margin: 0 auto;
}

/* @todo add styling for multi-column rules */
@media only screen and (min-width: 768px) {
  .flex-grid.cols-2 > .content > .grid-child {
    -moz-box-flex: 0 1 47.5%;
    -ms-flex: 0 1 47.5%;
    -webkit-box-flex: 0 1 47.5%;
    -webkit-flex: 0 1 47.5%;
    flex: 0 1 47.5%;
  }

  .flex-grid.cols-3 > .content > .grid-child {
    -webkit-box-flex: 0 1 30%;
    -moz-box-flex: 0 1 30%;
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  .flex-grid.cols-4 > .content > .grid-child {
    -webkit-box-flex: 0 1 23.5%;
    -moz-box-flex: 0 1 23.5%;
    -webkit-flex: 0 1 23.5%;
    -ms-flex: 0 1 23.5%;
    flex: 0 1 23.5%;
  }

  /* mini offset */

  .flex-grid.mini-right > .content > .grid-child:first-child {
    flex: 0 1 70%;
  }

  .flex-grid.mini-right > .content > .grid-child:last-child {
    flex: 0 1 30%;
  }

  .flex-grid.mini-left > .content > .grid-child:first-child {
    flex: 0 1 30%;
  }

  .flex-grid.mini-left > .content > .grid-child:last-child {
    flex: 0 1 70%;
  }
}
