/**
 * @file
 * Page header styling.
 */

/* Search Bar */

#block-search-form form {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.region-search > #block-search-form form {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

#block-search-form .form-item input {
  min-width: 0;
  height: 2.5rem; /* match button height */
  padding: 0;
  border: 1px solid #595959;
  background-color: #fff;
}

#block-search-form input[type="submit"],
#search-button-expand {
  display: inline-block;
  margin: 0;
  padding: 0.3em 30px 0.3em 0.3em;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #0054a6;
  background-image: url("../images/search-white.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 20px 20px;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

#block-search-form input[type="submit"] {
  height: 2.5em;
  vertical-align: bottom;
}

#block-search-form input[type="submit"]:hover,
#block-search-form input[type="submit"]:focus,
#search-button-expand:hover,
#search-button-expand:focus {
  text-decoration: none;
  color: #0054a6;
  border: 2px solid #0054a6;
  background-color: #fff;
  background-image: url("../images/search-blue.svg");
}

#search-button-expand.expand {
  color: #262729;
  background-color: #ccc;
  background-image: url("../images/closebutton-black.svg");
}

#search-button-expand.expand:hover,
#search-button-expand.expand:focus {
  color: #262729;
  border: 2px solid #262729;
}

#search {
  margin-top: -4.5em;
  padding: 1em;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #dedede;
}

#search.expand {
  margin-top: 0;
}
@media only screen and (min-width: 430px) {
  .region-search > #block-search-form .form-item input {
    width: 70%;
  }
}

/* Header Sections */

#header-container {
  position: relative;
}

#section-header {
  z-index: 5;
  width: 100%;
  padding: 0 1em;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 10px -5px #262729;
}

#section-main-navigation {
  position: relative;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 1em 0;
}

#section-billboard {
  position: relative;
}

#section-top-header {
  display: block;
}

#section-top-header > div,
#section-top-header > nav {
  z-index: 6;
  padding: 1em 0 0 0;
}

#section-top-header .region-header {
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

#section-top-header .region-header > div {
  padding-right: 1em;
}

#section-top-header .region-header > div:last-child {
  padding-right: 0;
}

#section-secondary-navigation ul#secondary-menu li {
  padding: 2px 0;
}

/* Site Logo */

#site-logo img {
  display: none;
}

#site-logo a {
  display: block;
  width: 250px;
  max-width: 100%;
  height: 30px;
  background-image: url("../images/hfc-futuredriven-horizontal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 0;
}
@media only screen and (min-width: 1010px) {
  #site-logo a {
    width: 300px;
    height: 40px;
  }
}

/* Billboard Image */

#billboard #header-image {
  position: relative;
  overflow: hidden;
  height: 25vw;
  min-height: 150px;
  max-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#block-hfcc-global-hfcc-global-site-name > .content > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0.5em 0.5em 0.5em 1.8em;
  text-align: center;
  text-transform: uppercase;
  color: #002d5b;
  border: 1px solid #002d5b;
  background: url("../images/home-icon-navy.svg");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 49%;
  background-size: 20px 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  font-weight: unset;
}

#block-hfcc-global-hfcc-global-site-name > .content > a:hover,
#block-hfcc-global-hfcc-global-site-name > .content > a:focus,
#block-hfcc-global-hfcc-global-site-name > .content > a:active {
  color: #fff;
  border: 1px solid transparent;
  background: url("../images/home-icon-white.svg");
  background-color: #002d5b;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 49%;
  background-size: 20px 20px;
}

.page-title {
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.page-title h1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  .page-title h1 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 1000px) {
  .page-title h1 {
    font-size: 5em;
  }
}

.no-billboard #page-title {
  display: block;
  margin-top: 1rem;
}

/* No billboard */

.no-billboard #section-header {
  position: relative;
}

/* Skip link styles */

#skip-link .element-invisible.element-focusable:active,
#skip-link .element-invisible.element-focusable:focus {
  width: auto;
  padding: 0.5em;
  text-decoration: underline;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

/* Major Breakpoints */
@media only screen and (min-width: 855px) {
  #section-top-header {
    position: relative;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    -webkit-box-pack: justify;
  }

  #section-secondary-navigation ul#secondary-menu li {
    padding: 0;
  }

  .region-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .region-navigation > #block-hfcc-global-hfcc-global-site-name {
    flex: 0 1 20%;
    margin-left: 1em;
  }

  .region-navigation > .block-hfc-responsive-menu {
    flex: 0 1 auto;
    width: auto;
  }
}
@media only screen and (min-width: 1000px) {
  #site-logo a {
    width: 300px;
    height: 40px;
  }
}
