/**
 * @file
 * Header Slider styling.
 */

/** Styling for use with headerslider.js **/

.slides-master-header-container {
  position: relative;
}

.slides-master-header-container .header-image {
  position: relative;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slides-master-header-container .slide {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}

.slides-master-header-container .slide.active {
  z-index: 1;
  opacity: 1;
}

.slides-master-header-container .slide a {
  display: block;
  margin: 0 50px;
  padding: 1em;
}

.slides-master-header-container .slide .billboard-caption {
  width: 100%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
}

.slides-master-header-container .slide .billboard-caption h2 {
  margin: 0;
}

/* Navigation buttons */

.slide-nav {
  position: absolute;
  top: 0;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}

.slide-nav .nav-item {
  z-index: 10;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/arrow-right-white.svg");
  background-size: contain;
}

.slide-nav .nav-item:hover,
.slide-nav .nav-item:focus {
  border: 2px solid #fff;
}

.slide-nav .nav-item#next {
  position: absolute;
  right: 5px;
}

.slide-nav .nav-item#prev {
  position: absolute;
  left: 5px;
  -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
}

.slide-nav .nav-item.end {
  display: none;
}
@media only screen and (min-width: 600px) {
  #billboard .billboard-caption {
    width: 400px;
    padding: 0.5em 1em;
    box-shadow: 0 0 15px 0 #262729;
  }

  #billboard .slides-master-header-container,
  #billboard .slides-master-header-container .header-image {
    height: 300px;
  }

  #billboard .slides-master-header-container .header-image {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 855px) {
  #billboard .slides-master-header-container,
  #billboard .slides-master-header-container .header-image {
    height: 500px;
  }
}
