/**
 * @file
 * Adds column-count styles.
 */

@media only screen and (min-width: 500px) {
  .column-count-2 .field-item {
    column-count: 2;
    gap: 1em;
  }

  .column-count-3 .field-item {
    column-count: 2;
    gap: 1em;
  }

  .column-count-4 .field-item {
    column-count: 2;
    gap: 1em;
  }

  .column-count-2.separated .field-item,
  .column-count-3.separated .field-item,
  .column-count-4.separated .field-item {
    column-rule: solid 1px #ccc;
  }

  .column-count-2 .field-item > p,
  .column-count-3 .field-item > p,
  .column-count-4 .field-item > p {
    break-inside: avoid;
  }

  .column-count-2.separated .field-item > p,
  .column-count-3.separated .field-item > p,
  .column-count-4.separated .field-item > p {
    padding-left: 0.5em;
  }
}

@media only screen and (min-width: 700px) {
  .column-count-3 .field-item {
    column-count: 3;
    gap: 1em;
  }

  .column-count-4 .field-item {
    column-count: 3;
  }
}

@media only screen and (min-width: 1000px) {
  .column-count-4 .field-item {
    column-count: 4;
  }
}

@media print {
  .column-count-2 .field-item {
    column-count: 2;
    gap: 1em;
  }

  .column-count-3 .field-item {
    column-count: 3;
    gap: 1em;
  }

  .column-count-4 .field-item {
    column-count: 4;
    gap: 1em;
  }

  .column-count-2.separated .field-item,
  .column-count-3.separated .field-item,
  .column-count-4.separated .field-item {
    column-rule: solid 1px #ccc;
  }

  .column-count-2 .field-item > p,
  .column-count-3 .field-item > p,
  .column-count-4 .field-item > p {
    break-inside: avoid;
  }

  .column-count-2.separated .field-item > p,
  .column-count-3.separated .field-item > p,
  .column-count-4.separated .field-item > p {
    padding-left: 0.5em;
  }
}
