/**
 * @file
 * This file defines the page layout structure.
 */

#section-header,
#section-billboard,
#section-main,
#section-fatfooter,
#section-footer {
  position: relative;
  float: none;
  clear: both;
}

#main-inner {
  width: 100%;
}

#main-inner > h1 {
  margin-top: 1em;
}

#intro-contact-wrap #contact {
  padding: 1em;
  background-color: #dedede;
}

#intro-contact-wrap #intro .region {
  padding: 1em;
}

#content-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5em 0.25em;
}

.node-type-marketing-landing-page .paragraphs-item-simple-text-area h1 {
  margin-top: 1em;
}

.node-type-landing-page #content-inner,
.node-type-basic-page #content-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em 0.25em;
}

/* Front page, marketing page, and program page content section 100% wide */

.node-type-marketing-landing-page #content-inner,
.node-type-marketing-landing-page #section-main,
.node-type-program-para #content-inner,
.node-type-program-para #section-main {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.front #breadcrumb,
.node-type-marketing-landing-page #breadcrumb {
  display: none;
}
@media only screen and (min-width: 770px) {
  #intro-contact-wrap #intro .region {
    padding: 0 1em 0 0;
  }
}
@media only screen and (min-width: 770px) {
  #breadcrumb {
    max-width: 1100px;
    margin: 1em auto;
  }

  #section-main {
    position: relative;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #intro-contact-wrap {
    position: relative;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
  }

  #intro-contact-wrap #intro {
    -webkit-box-flex: 1 1 70%;
    -moz-box-flex: 1 1 70%;
    -webkit-flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }

  #intro-contact-wrap #intro .region h2 {
    margin-top: 0;
  }

  #intro-contact-wrap #contact {
    -webkit-box-flex: 1 1 30%;
    -moz-box-flex: 1 1 30%;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
  }

  #sidebar-first {
    order: -1;
  }

  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 33%;
  }

  .one-sidebar.sidebar-first #main-inner,
  .one-sidebar.sidebar-second #main-inner {
    width: 66%;
  }

  .two-sidebars #main-inner {
    width: 50%;
  }

  .two-sidebars #sidebar-first,
  .two-sidebars #sidebar-second {
    width: 25%;
  }
}
