/**
 * @file
 * This file holds all content patterns and most styles found in section-main.
 */

/* Highlight Header */

.highlight-banner.photo > div {
  margin: 1em auto;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Gallery */

.gallery-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.gallery-item {
  -webkit-box-flex: 1 0 200px;
  -moz-box-flex: 1 0 200px;
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  min-width: 0; /* hack for firefox 3747 */
  padding: 0 0.5em 1.5em 0.5em;
}
@media only screen and (min-width: 600px) {
  .highlight-grid .view-content {
    width: 100%;
  }

  .highlight-grid.highlight-header > .view-content {
    max-width: 1000px;
  }

  .highlight-item {
    -moz-box-flex: 0 1 50%; /* OLD - Firefox 19- */
    -ms-flex: 0 1 50%; /* IE 10 */
    -webkit-box-flex: 0 1 50%; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 50%; /* Chrome */
    flex: 0 1 50%; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .lg-title {
    font-size: 4em;
  }
}
@media only screen and (min-width: 770px) {
  .highlight-item {
    -moz-box-flex: 0 1 33.3333%; /* OLD - Firefox 19- */
    -ms-flex: 0 1 33.3333%; /* IE 10 */
    -webkit-box-flex: 0 1 33.3333%; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 33.3333%; /* Chrome */
    flex: 0 1 33.3333%; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}
@media only screen and (min-width: 948px) {
  .gallery-4 .gallery-item {
    width: 25%;
  }

  .gallery-3 .gallery-item {
    width: 33.3333%;
  }

  .gallery-2 .gallery-item {
    width: 50%;
  }
}
