/**
 * @file
 * Primary menu styling.
 */

/* Normal Menus */

ul.menu {
  margin: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

ul.menu a {
  font-weight: normal;
}

ul.menu a.active {
  color: #333335;
}

ul.menu a.active:hover {
  text-decoration: none;
}

ul.menu .expanded,
ul.menu .collapsed {
  list-style-type: none;
  list-style-image: none;
}

ul.menu ul.menu {
  margin: 0 0 0 0.75em;
}

ul.menu ul.menu ul.menu {
  margin: 0 0 0 0.75em;
}

ul.menu li ul.menu li.last {
  padding: 0;
}

/* Main Menu */

#section-main-navigation #hfcrespmenu-open {
  margin: 0;
}

#section-main-navigation h2 {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  color: transparent;
}

#section-main-navigation ul.menu {
  width: 100%;
}

#section-main-navigation ul.menu li a,
#section-main-navigation ul.menu li a:visited {
  position: relative;
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #262729;
  border: none;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: normal;
}

#section-main-navigation ul.menu li a:hover,
#section-main-navigation ul.menu li a:focus {
  background-color: transparent;
}

#section-main-navigation ul.menu li a::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 0%;
  height: 3px;
  content: "";
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #0054a6;
}

#section-main-navigation ul.menu li a::before {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #595959;
}

#section-main-navigation ul.menu li a.active::after,
#section-main-navigation ul.menu li a:hover::after,
#section-main-navigation ul.menu li a:focus::after {
  width: 100%;
}

/* Secondary Navigation */

ul#secondary-menu {
  margin: 0;
  text-align: center;
  line-height: normal;
}

ul#secondary-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul#secondary-menu li a {
  display: block;
  padding: 0.3em;
  text-transform: uppercase;
  color: #262729;
  border: 1px solid #595959;
  background-color: #fff;
  font-family: "Work Sans", "Open Sans", sans-serif;
}

ul#secondary-menu li a:hover,
ul#secondary-menu li a:focus {
  margin: 0 0 -2px 0;
  border-bottom: 2px solid #595959;
}

/* Top Bar Menu */

#section-top-bar .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

#section-top-bar .block-menu {
  color: #fff;
  background-color: #707070;
}

#section-top-bar .block-menu .block-title {
  display: none;
}

#section-top-bar .menu li {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25em 0;
  text-align: center;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
}

#section-top-bar .menu li a {
  display: block;
  padding: 0.5em;
  color: #fff;
  border: none;
  font-size: 1.2em;
}

#section-top-bar .menu li a.active {
  color: #333335;
  background-color: #fff;
}

#section-top-bar .menu li a:focus,
#section-top-bar .menu li a:hover {
  color: #333335;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Sidebar Menus */

.sidebar ul.menu li a {
  display: block;
  margin: 0.25em 0;
  padding: 0.25em 1em;
  color: inherit;
  border: 1px solid #595959;
  font-weight: 400;
}

.sidebar ul.menu li a.active,
.sidebar ul.menu li a:hover,
.sidebar ul.menu li a:focus {
  border-left: 10px solid #595959;
  background-color: transparent;
}

.sidebar ul.menu ul.menu {
  margin-top: 0;
}
