/**
 * @file
 * Primary styling for nodes.
 */

.node-unpublished {
  background: url("../images/draft-bg.png") no-repeat right top transparent;
}

.node .submitted {
  margin: 0 0 0.5em;
  font-style: italic;
}

div.field-label-inline {
  margin: 0 0 1.5em;
}

.field-name-field-header-image {
  margin: 0 0 1.5em;
}

.field-name-field-callout {
  margin: 1.5em 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

.field-name-field-person-photo img {
  width: 200px;
}

/* Format links section. */

.node .content .links {
  text-transform: uppercase;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  padding: 0.134em 0.328em;
  text-decoration: none;
  color: #777;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  background: #ffa;
}

.node .content .links a:hover {
  text-decoration: underline;
  color: #555;
}

/* Format program sequence tables in program displays. */

.group-program-sequence thead > tr {
  padding: 0 0.6em;
}

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  padding: 0.5em 0 0.5em 0.25em;
  font-size: 1.1em;
  font-weight: bold;
}

.field-type-program-sequence .course-name {
  width: 10%;
  padding-right: 1em;
  white-space: nowrap;
}

.field-type-program-sequence .course-title {
  width: 50%;
  padding-right: 1em;
}

.field-type-program-sequence .course-prerequisites {
  width: 35%;
}

.field-type-program-sequence .hours {
  width: 10%;
  padding-left: 1em;
  text-align: right;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  padding: 0.25em 0;
  text-align: right;
  font-weight: bold;
}

/** HFCC Web Services Client **/

#hfccwsclient-staffdir-form #edit-search {
  padding: 0 0.88em 1em;
  border: 1px solid #ccc;
}

#hfccwsclient-staffdir-form #edit-search > legend {
  padding: 0 0.325em;
}

#hfccwsclient-staffdir-form #edit-search .form-item {
  float: left;
  padding-right: 1.5em;
}

#hfccwsclient-staffdir-form #edit-search .form-submit {
  /* float: left; */
}

.staff-directory-results td {
  padding: 0.325em 0;
  vertical-align: top;
}

/* Search Bar on View */

.view.search-bar .view-filters form {
  margin: 0 0 1.5em 0;
  text-align: center;
}

.view.search-bar .view-filters #edit-title-wrapper {
  display: inline-block;
  width: 600px;
  max-width: 85%;
}

.view.search-bar .view-filters .views-submit-button {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}

.view.search-bar .view-filters #edit-title-wrapper label {
  text-align: center;
  color: #006fba;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.view.search-bar .view-filters input[type="text"] {
  display: inline-block;
  width: 100%;
  min-height: 40px;
  margin: 0;
  padding: 0 4px;
  vertical-align: bottom;
  font: inherit;
  line-height: 2em;
}

.view.search-bar .view-filters .views-submit-button input[type="submit"] {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  vertical-align: bottom;
  color: transparent;
  border: 2px solid #002348;
  background-color: #002348;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  font-size: 0;
}

.view.search-bar .view-filters .views-submit-button input[type="submit"]:hover {
  color: #002348;
  background-color: transparent;
  background-image: url("../images/search-blue.svg");
}

.view.search-bar .form-item,
.form-actions {
  margin: 0;
}
