/**
 * @file
 * Primary page styling.
 */

/* Highlighted */

#highlighted {
  padding: 0.5em 1em;
  border-bottom: 7px solid #006fba;
  background-color: #ffff50;
}

#highlighted .region-highlighted {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

/* Breadcrumb */

#block-easy-breadcrumb-easy-breadcrumb {
  max-width: 1000px;
  margin: 1em auto 0 auto;
}

.easy-breadcrumb {
  margin: 0 1em;
}

.easy-breadcrumb_segment-separator {
  margin: 0.3em;
}

.easy-breadcrumb_segment {
  position: relative;
  display: inline-block;
  margin: 0.2em;
  padding: 5px 0.5em;
  text-decoration: none;
  color: #262729;
  background: #ccc;
}

.easy-breadcrumb a:hover::before,
.easy-breadcrumb a:hover::after,
.easy-breadcrumb a:focus::before,
.easy-breadcrumb a:focus::after,
.easy-breadcrumb_segment-title::before,
.easy-breadcrumb_segment-title::after,
a.easy-breadcrumb_segment::before,
a.easy-breadcrumb_segment::after {
  position: absolute;
  z-index: -99;
  top: 0;
  bottom: -2px;
  width: 1em;
  content: "";
}

.easy-breadcrumb_segment::before {
  left: -0.5em;
}

.easy-breadcrumb_segment::after {
  right: -0.5em;
}

.easy-breadcrumb a {
  border-bottom: 2px solid #262729;
}

.easy-breadcrumb a:hover,
.easy-breadcrumb a:focus {
  border-bottom: 2px solid transparent;
}

.easy-breadcrumb a::before,
.easy-breadcrumb a::after {
  transition: background 0.2s ease;
}

a.easy-breadcrumb_segment::before,
a.easy-breadcrumb_segment::after {
  border-bottom: 2px solid #262729;
  background: #ccc;
}

.easy-breadcrumb a:hover::before,
.easy-breadcrumb a:hover::after,
.easy-breadcrumb a:focus::before,
.easy-breadcrumb a:focus::after {
  border-bottom: 2px solid transparent;
  background: #7fe5ff;
}

.easy-breadcrumb_segment-title {
  color: #fff;
  border-bottom: 2px solid #135f84;
  background: #135f84;
}

.easy-breadcrumb_segment-title::before,
.easy-breadcrumb_segment-title::after {
  border-bottom: 2px solid #135f84;
  background: #135f84;
}
@media only screen and (min-width: 500px) {
  .easy-breadcrumb_segment::before,
  .easy-breadcrumb_segment::after,
  .easy-breadcrumb a:hover::before,
  .easy-breadcrumb a:hover::after,
  .easy-breadcrumb a:focus::before,
  .easy-breadcrumb a:focus::after,
  .easy-breadcrumb_segment-title::before,
  .easy-breadcrumb_segment-title::after {
    transform: skew(-10deg);
  }
}

/* Sidebars */

.sidebar .region {
  padding: 1em;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

/** Fix for footer message **/

#block-hfcc-global-hfcc-global-footer-message {
  margin: 0 0 1em;
}

#block-hfcc-global-hfcc-global-footer-message ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-hfcc-global-hfcc-global-footer-message li {
  display: inline;
}

#block-hfcc-global-hfcc-global-footer-message a {
  color: #444;
  border-bottom: 1px solid #444;
}
