/**
 * @file
 * Pattern styling.
 */

/** Styling for repeated content patterns, especially for use with paragraphs module **/

/* Container Colors */

.gray {
  background-color: #dfdede;
}

.light-gray {
  background: #eee;
}

.blue {
  color: #fff;
  background-color: #0054a6;
}

.hfcglobal-background-image.white-overlay > div {
  padding: 1em;
  color: #262729;
  background-color: rgba(255, 255, 255, 0.6);
}

.hfcglobal-background-image.teal-blue-overlay > div {
  padding: 1em;
  color: #fff;
  background-color: rgba(19, 95, 132, 0.6);
  text-shadow: 1px 1px 1px #000;
}

/* Containers */

/** Highlight Header **/

.highlight-header > div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 5px;
}

.highlight-header-wide > div {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 5px;
}
@media only screen and (min-width: 1000px) {
  .highlight-header > div {
    padding: 1em 0 0.5em 0;
  }
}
@media only screen and (min-width: 1400px) {
  .highlight-header-wide > div {
    padding: 1em 0 0.5em 0;
  }
}

/** Highlight Banner **/

.highlight-banner > div {
  overflow: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5em 5px;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}

/** Color Block **/

.color-block {
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 600;
}

.color-block span.blue {
  color: #0054a6;
}

.color-block span.white {
  color: #fff;
}

.color-block span.gray {
  color: #777779;
}

/* Grid */

.para-grid > .content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-image: none;
}

.front .para-grid > .content {
  align-items: center;
}

.para-grid > .content > .entity {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  margin: 0;
  padding: 0;
}

.para-grid > .content > .entity.gray,
.para-grid > .content > .entity.blue {
  margin-bottom: 1em;
  padding: 1em;
}

.para-grid > .content > .entity > div {
  width: 100%;
}

/* fix for extra photo margin */

.para-grid.photo-fix .content {
  line-height: 0;
}
@media only screen and (max-width: 768px) {
  .photo-mobile-small img {
    display: block;
    float: left;
    max-width: 200px;
    margin: 0 auto;
  }

  .photo-mobile-hide img {
    display: none;
  }
}

/* line border for separated class */

.para-grid.separated > .content > .entity > div {
  position: relative;
  margin: 0;
  padding: 0 1em;
  border-left: 1px solid #ccc;
}

.para-grid.separated > .content > .entity:last-child > div {
  border-right: 1px solid #ccc;
}

.para-grid.separated > .content > .entity img {
  display: block;
}

.paragraphs-items .field-item h2:first-child,
.paragraphs-items .field-item h3:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 600px) {
  .para-grid > .content > .entity > div {
    margin: 0.5em;
  }
}
@media only screen and (min-width: 768px) {
  .para-grid.cols-2 > .content > .entity {
    -moz-box-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    -webkit-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .para-grid.cols-3 > .content > .entity {
    -webkit-box-flex: 0 1 33.3333%;
    -moz-box-flex: 0 1 33.3333%;
    -webkit-flex: 0 1 33.3333%;
    -ms-flex: 0 1 33.3333%;
    flex: 0 1 33.3333%;
  }

  .para-grid.cols-4 > .content > .entity {
    -webkit-box-flex: 0 1 25%;
    -moz-box-flex: 0 1 25%;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  /* mini offset */

  .para-grid.mini-right > .content > .entity:first-child {
    flex: 0 1 70%;
  }

  .para-grid.mini-right > .content > .entity:last-child {
    flex: 0 1 30%;
  }

  .para-grid.mini-left > .content > .entity:first-child {
    flex: 0 1 30%;
  }

  .para-grid.mini-left > .content > .entity:last-child {
    flex: 0 1 70%;
  }
}

/* Singles */

/** Topic List **/

.topic-title h3,
.topic-title h4 {
  margin: 0 0 1em 0;
}

.topic-title {
  position: relative;
}

.topic-info ul {
  list-style-type: initial;
}

.topic-item {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: -1px; /* fixes the need to identify first/last in div wrapping situations */
  padding: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 640px) {
  .topic-info,
  .topic-title {
    display: inline-block;
    width: 66%;
    vertical-align: top;
  }

  .region-content .field-name-body .topic-info ul {
    margin: 0 0 1.5em 1em;
  }

  .topic-title {
    width: 33%;
    margin: 0;
  }

  .topic-info {
    padding: 0 0 0 2em;
  }
}

/* Highlight Styles */

.highlight-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 0;
  text-align: left;
  color: #262729;
  background-color: #dfdede;
  background-repeat: no-repeat;
  background-size: contain;
}

.highlight-item > div {
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin: 0 !important;
}

.para-grid > .content > .highlight-item > .content {
  margin: 0;
  padding-top: 100%;
}

.highlight-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10% 5%;
}

.highlight-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.highlight-link a {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: transparent;
  font-size: 0;
}

.highlight-title {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.25em;
}

.highlight-caption {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  line-height: 1.25em;
}

.highlight-caption h2,
.highlight-caption h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.highlight-caption ul:last-child,
.highlight-caption ol:last-child,
.highlight-caption p:last-child {
  margin-bottom: 0;
}

.highlight-item .edit-link {
  position: absolute;
  z-index: 10; /* fix to allow clicking with highlight-link */
  right: 0;
  bottom: 0;
}

.highlight-item .highlight-link a:hover,
.highlight-link a:focus {
  background-color: rgba(0, 0, 0, 0.25);
} /* adds dark background only for focus events (accessibility) and highlights with photos. normal hover changes the color per below */

/* Highlight Item Colors */

.highlight-item.gray {
  color: #fff;
  background-color: #262729;
}

.highlight-item.light-gray {
  color: #262729;
  background-color: #dedede;
}

.highlight-item.color {
  color: #fff;
  background-color: #002d5b;
}

.highlight-item.light-color {
  color: #fff;
  background-color: #135f84;
}

/* Higlight Item Hover */

.highlight-item.highlight-link.gray:hover {
  background-color: #1c1d1e;
}

.highlight-item.highlight-link.light-gray:hover {
  background-color: #c4c4c4;
}

.highlight-item.highlight-link.color:hover {
  background-color: #002449;
}

.highlight-item.highlight-link.light-color:hover {
  background-color: #104965;
}

/* Background Image */

.hfcglobal-background-image {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 855px) {
  .hfcglobal-background-image.min-300 {
    min-height: 300px;
  }

  .hfcglobal-background-image.min-500 {
    min-height: 500px;
  }

  .hfcglobal-background-image.min-800 {
    min-height: 800px;
  }
}

.hfcglobal-background-image.width-500 > div {
  width: 500px;
  max-width: 100%;
}

.hfcglobal-background-image.text-top,
.hfcglobal-background-image.text-bottom,
.hfcglobal-background-image.text-left,
.hfcglobal-background-image.text-right,
.hfcglobal-background-image.text-center {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center; /* default position is centered */
  justify-content: center;
}

.hfcglobal-background-image.text-top > div,
.hfcglobal-background-image.text-bottom > div,
.hfcglobal-background-image.text-left > div,
.hfcglobal-background-image.text-right > div,
.hfcglobal-background-image.text-center > div {
  margin: 0; /* overrides centering from highlight-banner etc. */
}

.hfcglobal-background-image.text-center {
  -webkit-align-items: center;
  align-items: center;
}

.hfcglobal-background-image.text-top {
  /* only works if min-height is set larger than text natural size */
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.hfcglobal-background-image.text-bottom {
  /* only works if min-height is set larger than text natural size */
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.hfcglobal-background-image.text-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.hfcglobal-background-image.text-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/** Button List **/

.button-list ul {
  margin: 0;
}

.button-list li {
  list-style-type: none;
}

.button-list a {
  display: block;
  margin: 0.25em 0;
  padding: 0 1em;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  border: none;
  background-color: #ccc;
  line-height: 2em;
}

.button-list a:hover,
.button-list a:focus {
  text-decoration: none;
  border: none;
  border-left: 5px solid #0878b2;
}

/* HFC Button */

button {
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

a.hfc-button {
  position: relative;
  display: inline-block;
  margin: 0.4em 0;
  padding: 0 0.8em;
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  text-transform: uppercase;
  color: #fff !important;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #002d5b;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

a.hfc-button::after {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  border-bottom: 1px solid #002d5b;
  border-left: 1px solid #002d5b;
}

a.hfc-button.wide {
  width: 100%;
  text-align: center;
}

a.hfc-button.big {
  padding: 0.5em 1.5em;
  color: #fff;
  border: 2px solid #262729 !important;
  background-color: #262729;
}

a.hfc-button:hover,
a.hfc-button:focus {
  text-decoration: none;
  color: #002d5b !important;
  border: 2px solid #002d5b !important;
  background-color: #fff;
}

a.hfc-button.big:hover,
a.hfc-button.big:focus {
  color: #262729 !important;
  border: 2px solid #262729 !important;
  background-color: transparent;
}

a.hfc-file-button {
  display: inline-block;
  margin: 0 0.25em 1em;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #262729;
  border: 3px solid #002d5b;
  background-color: rgba(0, 84, 166, 0.2);
  font-size: 16px;
  font-weight: bold;
}

a.hfc-file-button:hover,
a.hfc-file-button:focus {
  border: 3px solid #ccc;
  background-color: #fff;
}

a.hfc-button-black {
  position: relative;
  display: inline-block;
  margin: 0.4em 0;
  padding: 0 0.8em;
  transition: background 0.2s ease;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid transparent;
  background-color: #262729;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

a.hfc-button-black:hover,
a.hfc-button-black:focus {
  color: #262729;
  border: 2px solid #262729;
  background-color: #fff;
}

a.hfc-button-black::after {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  border-bottom: 1px solid #262729;
  border-left: 1px solid #262729;
}

a.hfc-button-black.full-width {
  width: 100%;
}

/* Notice box styles */

.notice-box-navy {
  padding: 1em;
  color: #fff;
  background: #002d5b;
  font-size: 1.2em;
  font-weight: bold;
}

.notice-box-navy a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.notice-box-navy a:hover,
.notice-box-navy a:focus {
  color: #262729;
}

.notice-box-navy ul:last-child {
  margin-bottom: 0;
}

.notice-box-navy li {
  margin: 0.2em;
}

.notice-box-blue,
.notice-box-green,
.notice-box-med-blue {
  margin: 0.5em auto;
}

.notice-box-blue .highlight-banner,
.notice-box-green .highlight-banner {
  max-width: 100%;
}

.notice-box-blue.highlight-header,
.notice-box-green.highlight-header {
  max-width: 1000px;
}

.notice-box-blue,
.highlight-banner .notice-box-blue {
  padding: 0.5em;
  color: #262729;
  background: #6bc0eb;
}

.notice-box-green,
.highlight-banner .notice-box-green {
  padding: 0.5em;
  color: #262729;
  background: #80eb6f;
}

.notice-box-dashed {
  border: 2px dashed #262729;
}

.notice-box-med-blue > div {
  padding: 1em;
  color: #fff;
  background-color: #0054a6;
}

.notice-box-med-blue > div a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.notice-box-med-blue > div a:hover,
.notice-box-med-blue > div a:focus {
  color: #262729;
  border-bottom: 2px solid #262729;
}

.notice-box-med-blue .collapse-minus {
  color: #fff;
  border: 2px solid transparent;
  background-color: #262729;
  background-image: url("/sites/all/themes/futuredriven18/images/minus-icon-square-black.svg");
}

.notice-box-med-blue .expand-plus {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  background-image: url("/sites/all/themes/futuredriven18/images/plus-icon-square-med-blue.svg");
}

.notice-box-med-blue .hfc-open-all,
.notice-box-med-blue .hfc-close-all {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.notice-box-med-blue .hfc-open-all:hover,
.notice-box-med-blue .hfc-close-all:hover,
.notice-box-med-blue .hfc-open-all:focus,
.notice-box-med-blue .hfc-close-all:focus,
.notice-box-med-blue .hfc-open-all:active,
.notice-box-med-blue .hfc-close-all:active {
  color: #fff;
  border: 2px solid #fff;
  background-color: #262729;
}

.notice-box-med-blue .collapsible-title.expand-plus {
  border: 2px solid #fff;
}

.notice-box-med-blue .collapsible-title.collapse-minus {
  border: 2px solid transparent;
}

.notice-box-med-blue .collapsible-title.expand-plus:focus,
.collapsible-title.collapse-minus:focus {
  border: 2px solid #fff;
}

.notice-box-blue .hfc-show-content,
.notice-box-green .hfc-show-content,
.notice-box-med-blue .hfc-show-content {
  color: #262729;
  background: #fff;
}

.notice-box-blue .hfc-show-content a,
.notice-box-green .hfc-show-content a,
.notice-box-med-blue .hfc-show-content a {
  color: #262729;
  border-bottom: 1px solid #262729;
}

/* Misc Smaller Styles */

/** HFC Major Button **/

.hfc-button-major {
  display: block;
  width: 80%;
  margin: 0.4em 0;
  padding: 0.5em 1.2em 0.5em 0.5em;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #fff !important;
  border: none;
  background-color: #0878b2;
  background-image: url("../images/arrow-right-white.svg");
  background-repeat: no-repeat;
  background-position: center right 0.5em;
  background-size: 1em;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

.hfc-button-major:hover,
.hfc-button-major:focus {
  width: 100%;
  border: none;
  background-color: #0878b2;
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
}

/** Links on blue Backgrounds **/

.blue a,
.blue a:visited {
  color: #fff;
  border-color: #fff;
}

.blue a:hover,
.blue a:focus {
  color: #262729;
}

/** Other Headers and Titles **/

.callout {
  margin: 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 855px) {
  .callout {
    font-size: 1.5em;
  }

  .highlight-banner > div {
    font-size: 1.5em;
  }
}

.underline-header {
  border-bottom: 1px solid #ccc;
}

.blue-title {
  color: #002d5b;
}

.sm-title {
  text-transform: uppercase;
  color: inherit;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 600;
}

.lg-title {
  text-transform: uppercase;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
}

.center {
  text-align: center;
}

.lt-blue-title {
  color: #135f84; /* temporary fix until classes are fixed */
}

.teal-blue-title {
  color: #135f84;
}

/* Stylized numbered lists */

.stylized-list ol {
  margin: 0;
  list-style-type: none;
}

.stylized-list ol > li::before {
  position: absolute;
  z-index: -99;
  left: 0;
  margin-left: -3%;
  content: counter(stylized-list-counter) ".";
  text-align: left;
  color: #002d5b;
  font-size: 1.5em;
  font-weight: bold;
}

.stylized-list ol > li {
  position: relative;
  margin-bottom: 0.5em;
  margin-left: 2.5em;
  padding-left: 1em;
  counter-increment: stylized-list-counter;
  line-height: 2em;
}

/* Photo grid float */

.photo-grid-float img {
  float: left;
  margin-right: 1em;
}

/** Remove Margin **/

.no-bottom-margin .content {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.no-bottom-margin .content p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
  .lg-title {
    font-size: 4em;
  }
}
