/**
 * @file
 * This file contains overrides for print media.
 */

* {
  max-width: 100%;
  -ms-filter: none !important;
  filter: none !important;
  color: #000 !important; /* Black prints faster: sanbeiji.com/archives/953 */
  background-color: transparent;
  background-image: none;
  text-shadow: none !important;
}

html,
body {
  height: auto;
  background: transparent;
}

/* Hide these elements */

#toolbar,
#block-workbench-block,
#section-navigation,
#search-block-form,
#section-fatfooter,
#section-footer,
#footer-wrapper,
#stickyfooter,
#user-admin-account #edit-options,
.flag-wrapper,
.sidebar,
.breadcrumb,
.tabs,
.edit-link,
.views-field-edit-node,
.feed-icon,
.links,
#section-header,
.field-name-field-para-photos,
.view-filters,
#top-bar {
  display: none;
}

.hfcglobal-background-image,
.hfcglobal-background-image > div {
  display: block !important;
  overflow: auto;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
}

/**
 * Set typography for printing.
 */

body,
button,
caption,
fieldset,
input,
legend,
option,
select,
textarea,
td,
th {
  letter-spacing: normal;
  font:
    12pt "Open Sans",
    Arial,
    sans-serif;
  line-height: normal;
}

/* Headings - sizes are set in media query section below */
/* For info on transitioning, see http://elliotjaystocks.com/blog/css-transitions-media-queries */

h1,
h2,
h3,
h4,
h5,
h6 {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', FreeSerif, Georgia, serif; */
  font-size: 1em;
  font-weight: bold;
}

/* Font size = 10pt, line height = normal, interval = minor third (1:1.2) */
/* http://modularscale.com/scale/?px1=10&px2=&ra1=1.2&ra2=0 */

h1 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 20pt;
  line-height: normal;
}

h2 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 18pt;
  line-height: normal;
}

h3 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 14pt;
  line-height: normal;
}

h4 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 12pt;
  line-height: normal;
}

h5 {
  color: #000;
}

h6 {
  color: #000;
}

small {
  margin: 0 0 1rem;
  font-size: 8pt;
  line-height: normal;
}

/* Add and/or remove tags as your baseline grid needs */

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
form,
table,
fieldset,
menu,
h4,
h5,
h6,
img,
figure,
figcaption,
button {
  margin: 0 0 1rem;
}

a,
a:link,
a:visited,
a.hfc-button,
.hfc-button a,
a.hfc-button.big {
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: underline !important;
  color: #000 !important;
  border: none !important;
  line-height: normal !important;
}

a[href]::after {
  content: " (" attr(href) ")";
  word-wrap: break-word; /* for long external links */
}

abbr[title]::after {
  content: " (" attr(title) ")";
}

/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

table.small-only {
  display: none;
}

table.large-only {
  display: table;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.field-label {
  page-break-after: avoid;
}

/**
 * Override styling for various page elements.
 */
@page {
  size: auto; /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0.5in 0.5in 0.5in 0.5in;
}

body {
  padding-top: 0 !important; /* overrides inline style set by toolbars, which we want to hide. */
}

#page {
  width: 100%;
}

.header-container,
#section-main,
.region-fatfooter,
.region-footer,
.region-billboard,
.region-navigation {
  max-width: 100%; /* Override max width set for responsive design and let @page{} control this instead. */
}

#content,
#content #content-inner,
.content,
.title {
  width: auto;
  margin: 0 0 1.5rem;
}

#content,
#content-inner {
  margin: 0;
  padding: 0;
}

/* Formatting for Program Sequence */

.group-program-sequence {
  font-size: 9pt;
}

.group-program-sequence table {
  border-collapse: separate;
}

.group-program-sequence thead {
  display: table-header-group;
  page-break-after: avoid;
  page-break-inside: avoid;
}

.group-program-sequence tbody {
  page-break-before: avoid;
}

.group-program-sequence thead > tr,
.group-program-sequence tr.even,
.group-program-sequence tr.odd {
  padding: 0.1em 0;
}

.group-program-sequence th,
.group-program-sequence td {
  padding: 0 0.5em 0 0;
}

.field-type-program-sequence {
  max-width: inherit;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  padding: 0.25em 0;
  font-size: 10pt;
  font-weight: bold;
}

.field-type-program-sequence .course-name {
  padding-right: 0.5em;
  white-space: nowrap;
}

.field-type-program-sequence .course-title {
  padding-right: 0.5em;
}

.field-type-program-sequence .hours {
  padding-left: 0.5em;
  text-align: right;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  padding: 0;
  text-align: right;
  font-weight: bold;
}

/* Specific to Main Site print styles */

.site-logo {
  display: none;
}

.highlight-grid .view-content,
ul.views-view-grid {
  display: block;
}

.highlight-item,
ul.views-view-grid li {
  display: block;
  width: 100%;
  text-align: left;
}

.highlight-wrap {
  padding: 0;
}

.highlight-image img {
  display: none;
}

.topic-title img {
  display: none;
}

#billboard .billboard-header-image {
  display: none;
}

.hfc-caption.hfc-caption--popup {
  position: relative;
  margin: 0;
  padding: 0;
}

.highlight-title.auto-size {
  display: inline-block;
  font-size: 18pt !important;
}
