/**
 * @file
 * View styling.
 */

/** Styling for views **/

/**
 * Simple Flexbox template.
 *
 * Apply this template to any (unordered list) view by adding view-flex class.
 *
 * Style additional elements of the view to suit.
 */

.view-flex .view-content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.view-flex .views-row {
  min-width: 1px; /* Fixes Firefox flex bug. */
}

/**
 * Overrides for Views Grid display.
 *
 * Based on a hack by Jen Simmons to render views grids as unordered lists and modified for use with flexbox.
 * See https://gist.github.com/2295479 and ../templates/views-view-grid.tpl.php
 *
 * @todo: We need to stop using this everywhere and start using .view-flex (above) with unordered rows views instead.
 *        Micah 05/09/19
 */

ul.views-view-grid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  list-style-image: none;
}

ul.views-view-grid li {
  position: relative;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0 1 100%;
  -moz-box-flex: 0 1 100%;
}

ul.views-view-grid li .grid-item-wrapper {
  position: relative;
  margin: 1em;
}

ul.views-view-grid li .grid-photo-wrapper {
  position: relative;
  margin: 0 0 0.625em 0;
}

.view-flex .views-row img,
ul.views-view-grid li img {
  display: block;
}

ul.views-view-grid ul {
  margin: 0 0 1.5em 0;
  list-style-position: inside;
  list-style-type: disc;
}

/* Date fix for month calendar views. */

.calendar-calendar div.day {
  width: 2em;
}

/* Padding for end of view row */

.group-list .view-content .views-row-last {
  padding-bottom: 1.625em;
}

/* For the Editor Tag List views block. */
.view-editor-tag-block {
  margin: 0 0 0.5em;
}

.view-editor-tag-block .views-field-field-news-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
}

.view-editor-tag-block .views-field-field-news-tags ul li {
  display: inline-block;
  margin: 0 0.2em 0.25em;
  padding: 0 0.25em;
  border: 1px solid #aaa;
  border-radius: 3px;
}

@media only screen and (min-width: 600px) {
  ul.views-view-grid {
    width: 100%;
  }

  ul.views-view-grid li .grid-item-wrapper {
    margin: 0 0.625em 0.625em 0;
  }

  .view ul.views-view-grid li {
    -moz-box-flex: 0 1 50%; /* OLD - Firefox 19- */
    -ms-flex: 0 1 50%; /* IE 10 */
    -webkit-box-flex: 0 1 50%; /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 50%; /* Chrome */
    flex: 0 1 50%; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}
@media only screen and (min-width: 768px) {
  /* Overrides for Views Grid display. */

  .view-flex.cols-3 .views-row {
    -webkit-box-flex: 0 1 32%;
    -moz-box-flex: 0 1 32%;
    -webkit-flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
  }

  .view-flex.cols-4 .views-row {
    -webkit-box-flex: 0 1 23%;
    -moz-box-flex: 0 1 23%;
    -webkit-flex: 0 1 23%;
    -ms-flex: 0 1 23%;
    flex: 0 1 23%;
  }

  .view ul.cols-3 li {
    -webkit-box-flex: 0 1 33.3333%;
    -moz-box-flex: 0 1 33.3333%;
    -webkit-flex: 0 1 33.3333%;
    -ms-flex: 0 1 33.3333%;
    flex: 0 1 33.3333%;
  }

  .view ul.cols-4 li {
    -webkit-box-flex: 0 1 25%;
    -moz-box-flex: 0 1 25%;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .view ul.cols-5 li {
    -webkit-box-flex: 0 1 20%;
    -moz-box-flex: 0 1 20%;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }

  .view ul.cols-6 li {
    -webkit-box-flex: 0 1 16.6666%;
    -moz-box-flex: 0 1 16.6666%;
    -webkit-flex: 0 1 16.6666%;
    -ms-flex: 0 1 16.6666%;
    flex: 0 1 16.6666%;
  }

  .view ul.cols-7 li {
    -webkit-box-flex: 0 1 14.2857%;
    -moz-box-flex: 0 1 14.2857%;
    -webkit-flex: 0 1 14.2857%;
    -ms-flex: 0 1 14.2857%;
    flex: 0 1 14.2857%;
  }

  .view ul.cols-8 li {
    -webkit-box-flex: 0 1 12.5%;
    -moz-box-flex: 0 1 12.5%;
    -webkit-flex: 0 1 12.5%;
    -ms-flex: 0 1 12.5%;
    flex: 0 1 12.5%;
  }

  .view ul.cols-9 li {
    -webkit-box-flex: 0 1 11.1111%;
    -moz-box-flex: 0 1 11.1111%;
    -webkit-flex: 0 1 11.1111%;
    -ms-flex: 0 1 11.1111%;
    flex: 0 1 11.1111%;
  }

  .view ul.cols-10 li {
    -webkit-box-flex: 0 1 10%;
    -moz-box-flex: 0 1 10%;
    -webkit-flex: 0 1 10%;
    -ms-flex: 0 1 10%;
    flex: 0 1 10%;
  }
}
