/**
 * @file
 * This file contains theming for the webforms and form fields, completely overrides webform module's webform.css
 */

form {
  width: 800px;
  max-width: 100%;
  margin: 0.5em auto;
  color: #262729;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.form-item {
  position: relative;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  width: auto;
  min-width: 300px;
  max-width: 100%;
  padding: 1em 0.25em 0 0.25em;
  color: #262729;
  border: 1px solid #262729;
  background: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}

label {
  padding: 4px 0 10px;
  transition:
    top 0.2s ease,
    color 0.01s linear;
}

label.hfc-float-position {
  position: absolute;
  top: 0.5em;
  padding: 4px 10px;
  color: #595959;
}

label.hfc-float-position:hover {
  color: #ccc;
}

label.hfc-float-label {
  top: -1.5em;
  margin-top: 1em;
  margin-left: 4px;
  padding: 0 4px 0 4px;
  color: #262729;
  background-color: #fff;
}

fieldset {
  padding: 0.5em;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  text-transform: uppercase;
  color: #262729;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #ccc;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  text-decoration: none;
  color: #595959;
  border: 2px solid #595959;
  background-color: #fff;
}

input[type="submit"].webform-submit {
  color: #fff;
  background-color: #0054a6;
}

input[type="submit"].webform-submit:hover,
input[type="submit"].webform-submit:focus {
  color: #0054a6;
  border: 2px solid #0054a6;
  background-color: #fff;
}

.fieldset-legend {
  font-size: 1em;
  line-height: 1.25em;
}

.marker,
.form-required {
  color: #b40000 !important;
}

.form-item .description {
  margin: 0.25em 0;
  padding: 0.25em 1em;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background: #f2f2f2;
  font-size: 1em;
  font-style: italic;
}

.fieldset-description {
  margin-bottom: 1em;
}

.webform-component-fieldset {
  margin-bottom: 1em;
}

/* File */

.webform-component-file label {
  position: relative;
}

/* Date Picker */

.webform-component-date label,
.webform-component-time label {
  position: relative;
}

.webform-component-date .webform-container-inline > div,
.webform-component-time .webform-container-inline > div {
  display: inline-block;
}

.webform-component-date select,
.webform-component-time select {
  padding: 0.25em;
}

.webform-component-time .form-radios > .form-item {
  display: inline-block;
  margin: 0.4em;
}
/* Checkbox and Radios */

.webform-component-radios > label,
.webform-component-checkboxes > label {
  position: relative;
  padding: 0;
}

[type="radio"],
[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

[type="radio"] + label,
[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0;
}

[type="radio"] + label::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.55em;
  content: "";
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: -0.25em;
  border: 0.125em solid #fff;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 0 0 2px #262729;
}

[type="checkbox"] + label::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.75em;
  content: "";
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: -0.25em;
  border: 0.1em solid #fff;
  background-color: #fff;
  box-shadow: 0 0 0 2px #262729;
}

/* focus styling */

[type="radio"]:focus + label::before,
[type="radio"]:hover + label::before,
[type="checkbox"]:focus + label::before,
[type="checkbox"]:hover + label::before {
  background: #b5b5b5;
  box-shadow: 0 0 0 4px #262729;
}

/* the checked style using the :checked pseudo class */

[type="radio"]:checked + label::before,
[type="checkbox"]:checked + label::before {
  background: #272829;
  box-shadow: 0 0 0 2px #272829;
}

/* Progress Bar */

.webform-progressbar-page {
  margin: -5px -4px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
}

.webform-progressbar-outer {
  border: none;
  background-color: #ccc;
}

.webform-progressbar-inner {
  background-color: #aac54e;
}

.webform-progressbar-page.completed {
  background-color: #aac54e;
}

.webform-progressbar-page.current {
  background-color: #aac54e;
}

/* Label Exceptions */

.views-exposed-widget > label,
fieldset > label {
  position: relative;
  display: block;
}

[type="radio"] + label,
[type="checkbox"] + label,
.form-type-radios > label,
.form-type-checkboxes > label,
.webform-component-textarea > label,
.form-type-managed-file label,
.google-cse label {
  position: relative;
}

.search-form .container-inline div,
.search-form .container-inline label {
  display: block;
}
