#word-fill-container {
  width: 11em; /* max length of word */
  max-width: 100%;
  margin: 0 auto;
  text-align: right;
  font-size: 2em;
  line-height: 2em;
}

#word-fill {
  padding: 0 0.25em;
}

#word-anchor {
  padding: 0 0.25em;
  color: #fff;
  background-color: #0054a6;
}

#word-options {
  display: none;
}
@media (min-width: 855px) {
  #word-fill-container {
    font-size: 4em;
  }
}
